.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: auto o;
  }

  .title1 {
    font-weight: bold;
  }

  .article {
    background-color: rgba(220, 193, 171, 1);
    width: 720px;
    height: 368px;
    border: solid;
  }